* {
    box-sizing: content-box;
    overflow: hidden;
}

.bar-container {
    border: solid 1px black;
    height: 50vh;
    display: flex;
    margin-top: 5rem;
    align-items: flex-end;
    /* justify-items: baseline; */
    gap: .2rem;
    overflow: hidden;
    min-width: 100vw;
    /* position: relative; */
}

.bar {
    /* max-height: 100%; */
    min-width: 2rem;
    border: solid .1px rgb(52, 52, 52);
    border-radius: 2px 2px 0px 0px;
    background-color: rgb(69, 186, 188);
    /* position: relative; */
    padding-top: auto;
}


/* .moveLeft {
    transform: translateX(-2rem);
} */

.moveLeft {
    animation: moveLeft 1s;
}

@keyframes moveLeft {
    0% {
        transform: translatex(0rem);
    }
    50% {
        transform: translateX(-.5rem);
    }
    100% {
        transform: translateX(-2rem);
    }
}